.itemsCatalog{
    flex: 9;
    background-color: #e8e8e8ff;
    overflow-x: hidden;
    .itemsWrapper {
        padding: 20px;

        .itemsTitle {
            margin-top: 0;
            font-size: 25px;
            padding: 0;
            margin-bottom: 10px;
        }
        .itemsCardBox {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
        }
    }
}