.sidebar{
    flex: 3;
    height: calc(100vh - 50px);
    overflow-y: scroll;
    position: sticky;
    top: 50px;
    overflow: hidden;

    .sidebarWrapper {
        padding: 20px;
        .sidebarTitle {
            margin-top: 0;
            font-size: 25px;
            padding: 0;
            margin-bottom: 10px;
        }

        .filtersForm {
            .filterBtn{
                margin-top: 20px;
            }
        }
    }
}