.itemCard {
    background-color: white;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    .itemCardWrapper {
        padding: 10px;
        .itemCardHeader {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 5px;
            .saveBtn {
                cursor: pointer;
            }
        }

        .itemCardPicture{
            display: flex;
            justify-content: center;
            margin-bottom: 15px;
            .itemPicture {
                object-fit: cover;
                max-height: 200px;
            }
        }
        .itemCardDesc {
            margin-top: 7px;
            h4 {
                margin: 0;
            }
            p {
                margin: 0;
            }
        }
        .itemCardCart {
            display: flex;
            align-items: center;
            justify-content: center;
            button{
                position: relative;
                padding: 1em 1.5em;
                border: none;
                background-color: transparent;
                cursor: pointer;
                outline: none;
                font-size: 15px;
                margin: 0.6em 0.8em;
            }

            .cartBtn {
                &::after{
                    content: '';
                    display: block;
                    position: absolute;
                    height: 2px;
                    width: 0;
                    left: 0;
                    background-color: black;
                    transition: width 0.3s ease-in-out;
                }
                &::after {
                    bottom: 0;
                }
                &:hover::after {
                    width: 60px;
                }
            }
        }
    }
}